* {
	/* font-family: Georgia, Palatino, Times, 'Times New Roman', sans-serif; */
	/* font-size: 15px; */
	/* line-height: 20px; */
}

body {
	background: #fff;
	width: 100%;
	background:#fff;
	/* font: 76%/115% georgia,verdana,arial; */
	text-align:left;
	line-height:20px;
	color:#444;
    padding: 0px;
}

#name_chn {
    position: absolute;
    left: 230px;
    top: 25px;
    width: 100px;
    height: 50px;
}

#person_intro {
    padding: 10px 0 0 10px;
    width : 600px;
    float:left;
}

#img {
    %color:#333;
    font-style:italic;
    margin: 8px 10px 0 0;
    padding: 0px 10px 2px 0px;
    float: left;
    text-align: center;
    %display: block;
}

#head_photo {
    padding: 0px 10px 0 0;
    height: 300px;
    float: left;
    %background: transparent url(images/head.jpg) no-repeat;
}

#clear {
    clear: both;
}

h1 {
    font-size: 24px;
    padding: 5px 0 0 0;
}

strong {
    font-weight: bold;
    font-style:normal;
}

a {
	text-decoration: none;
}

a:link,
a:visited {
	color: #7a2a14;
}

a:hover {
	text-decoration: underline;
}

#title {
	font-weight: bold;
	margin-left: 40px;
	font-size: 30px;
	margin-top: 40px;
}

#welcome {
	font-weight: bold;
	margin-left: 40px;
	font-size: 15px;
	margin-top: 10px;
}

#sidebar {
	position:fixed;
	border-right:1px solid #333;
	margin-top:15px;
	width:90px;
	font-weight:bold;
	margin-left:20px;
}

#sidebar h2 {
	text-transform: uppercase;
	font-size: 13px;
	color: #333;
	letter-spacing: 1px;
	line-height: 20px;
}

#main {
	margin-top: 15px;
	margin-left:140px;
	margin-right:10px;
	padding: 10px 10px 0 0;
}

#main a {
	color: #f80;
}

.round_icon{
	width: 260px;
	height: 260px;
	display: flex;
	border-radius: 50%;
	align-items: center;
	justify-content: center;
	overflow: hidden;
  }

/*solid*/
